h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  min-height: 100vh;
  background: #f2f9ff;
  font-family: poppins, sans-serif;
  color: #fff; }
  .header-inner {
    background: #008aff;
    border-bottom-left-radius: 200px;
    min-height: 100vh; }
  .header__nav {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    grid-template-columns: 1fr 4fr 1fr; }
    .header__nav-logo {
      text-align: end; }
    .header__nav .header__burger {
      display: none; }
    .header__nav .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none; }
    .header__nav-hire__link {
      position: relative;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer; }
      .header__nav-hire__link::after {
        display: block;
        position: absolute;
        content: "";
        top: 25px;
        left: 50%;
        width: 100%;
        height: 2px;
        background: #ff9c8e;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .header__nav-menu__list {
      margin: 0; }
    .header__nav-menu__item {
      text-transform: uppercase;
      list-style-type: none;
      display: inline;
      font-size: 13px;
      line-height: 19px;
      font-weight: bold;
      letter-spacing: 3px;
      margin-right: 60px; }
    .header__nav-menu__link {
      display: inline-block;
      color: #fff;
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
      position: relative; }
    .header__nav-menu__link::after {
      background-color: #ff9c8e;
      display: block;
      content: "";
      height: 2px;
      width: 0%;
      top: 25px;
      left: 50%;
      position: absolute;
      -webkit-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .header__nav-menu__link:hover::after, .header__nav-menu__link:focus::after {
      width: 100%; }
  .header__intro {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 4fr 4fr; }
    .header__intro-description {
      width: 362px;
      padding-top: 95px;
      margin: 0 auto; }
      .header__intro-description__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -2px; }
      .header__intro-description__rubric {
        font-family: open-sans, sans-serif;
        font-size: 18px;
        line-height: 27px; }
      .header__intro-description__button {
        border: 2px solid #ff9c8e;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 13px 69px;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .header__intro-description__button:hover {
          -webkit-transform: translateY(-3px);
                  transform: translateY(-3px);
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          background: #ff6f5b;
          -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
        .header__intro-description__button__link {
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          -webkit-transition: color 0.2s;
          transition: color 0.2s;
          cursor: pointer;
          color: #fff; }
    .header__intro .container-slider {
      height: 680px;
      position: relative;
      text-align: right; }
      .header__intro .container-slider .slider-controls {
        position: absolute;
        bottom: 15%;
        right: 56%;
        width: 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .header__intro .container-slider .slider-controls_left, .header__intro .container-slider .slider-controls_right {
          background: url("../images/slider/ellipse.png");
          width: 32px;
          height: 32px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
      .header__intro .container-slider .container-intro {
        position: absolute;
        bottom: 10%;
        right: 32%;
        line-height: 19px;
        text-align: left; }
        .header__intro .container-slider .container-intro_title {
          font-family: poppins, sans-serif;
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: 3px;
          text-transform: uppercase; }
        .header__intro .container-slider .container-intro_text {
          font-family: open-sans, sans-serif;
          font-size: 14px;
          line-height: 20px;
          font-weight: normal; }

@media (min-width: 801px) and (max-width: 1200px) {
  .slider__item_photo {
    width: 100%; }
  .header__intro {
    width: 100%; }
    .header__intro .container-slider {
      height: 100%; }
  .header__intro-description {
    margin: 0 auto;
    padding-top: 0;
    width: 230px; }
  .header__nav-menu__list {
    padding: 0; }
  .header__nav {
    width: 100%; }
  .header__nav-menu__item {
    margin-right: 20px; } }

@media (max-width: 800px) {
  .header-inner {
    border-bottom-left-radius: 100px; }
  .header__nav {
    grid-template-columns: 2fr 5fr 1fr;
    width: 100%; }
    .header__nav .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px; }
    .header__nav .header__burger span {
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__nav .header__burger::before,
    .header__nav .header__burger::after {
      content: "";
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__nav .header__burger::before {
      top: 0; }
    .header__nav .header__burger::after {
      bottom: 0; }
    .header__nav .header__burger.active::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 9px; }
    .header__nav .header__burger.active::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 9px; }
    .header__nav .header__burger.active span {
      -webkit-transform: scale(0);
              transform: scale(0); }
    .header__nav-logo {
      margin: 0 auto; }
    .header__nav-menu {
      position: relative;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      padding: 70px 10px 20px; }
      .header__nav-menu__list {
        display: none; }
      .header__nav-menu__item {
        display: list-item;
        font-size: 24px;
        line-height: 40px; }
    .header__nav-menu.active {
      top: 0; }
      .header__nav-menu.active__list.active {
        display: block;
        margin-top: 50px; }
      .header__nav-menu.active__item {
        margin: 0 0 20px; }
    .header__nav-hire {
      display: none; }
  .header__intro {
    grid-template-columns: 1fr;
    width: 100%;
    padding-top: 0; }
    .header__intro-description {
      margin: 0 auto;
      padding: 0 0 30px;
      text-align: center; }
    .header__intro-description.active {
      display: none; }
  .header__intro.active {
    display: none; }
  .container-slider {
    display: none; } }

.process {
  background: #f2f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .process-inner {
    width: 1400px;
    margin: 0 auto; }
    .process-inner .process-description {
      width: 330px;
      padding: 250px 0; }
      .process-inner .process-description__name {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #c0cdd7; }
      .process-inner .process-description__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #253757; }
      .process-inner .process-description__text {
        font-family: open-sans, sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #6c788b; }
  .process .process-services {
    background: #fff;
    border-radius: 24px;
    height: 264px;
    width: 264px;
    position: absolute;
    padding: 32px; }
    .process .process-services__count {
      border-radius: 23px;
      padding: 2px 12px;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px; }
    .process .process-services__sources {
      display: grid;
      grid-template-columns: 1fr 3fr;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .process .process-services__img {
      position: relative;
      background: #008aff;
      width: 40px;
      height: 40px;
      border-radius: 50px; }
    .process .process-services__img img {
      position: absolute;
      top: calc(50% - 7px);
      left: calc(50% - 7px); }
    .process .process-services.first {
      top: 280px;
      right: 490px; }
      .process .process-services.first .process-services__count {
        color: #56ccf2;
        background: #edfaff; }
    .process .process-services.second {
      top: 170px;
      right: 200px; }
      .process .process-services.second .process-services__count {
        color: #f0c940;
        background: #fffaea; }
    .process .process-services.third {
      top: 570px;
      right: 490px; }
      .process .process-services.third .process-services__count {
        color: #3bc063;
        background: #e5feeb; }
    .process .process-services.fourth {
      top: 460px;
      right: 200px; }
      .process .process-services.fourth .process-services__count {
        color: #f36d6c;
        background: #fef0f0; }
    .process .process-services__list {
      padding-left: 0; }
    .process .process-services__item {
      text-decoration: none;
      list-style-type: none;
      font-family: open-sans, sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #6c788b; }

html {
  scroll-behavior: smooth; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: poppins, sans-serif;
  font-size: 13px;
  line-height: 21px;
  background: #fff;
  margin: 0; }

.button {
  background-color: #ff9c8e;
  border-radius: 64px;
  border: none; }

.link,
.button {
  cursor: pointer; }

.welcome {
  background: #f2f9ff; }
  .welcome__content {
    width: 750px;
    margin: 0 auto;
    padding: 50px 0; }
    .welcome__content_title {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: #253757; }
    .welcome__content_description {
      font-family: open-sans, sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #6c788b; }

.expertise__heading {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  color: #253757;
  padding-top: 80px;
  text-align: center; }

.expertise__info {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 64px; }
  .expertise__info .what-we-do {
    text-align: center; }
    .expertise__info .what-we-do__photo {
      border-radius: 20%; }
    .expertise__info .what-we-do__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #253757; }
    .expertise__info .what-we-do__text {
      font-family: open-sans, sans-serif;
      font-size: 14px;
      line-height: 21px;
      color: #6c788b; }

@media (max-width: 800px) {
  .welcome__content {
    width: 100%; }
  .about-us__info {
    grid-template-columns: repeat(2, 240px); } }

/*# sourceMappingURL=main.css.map */
