h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.header {
  background: #f2f9ff;
  font-family: poppins, sans-serif;
  color: #fff; }
  .header-background {
    background: #008aff;
    border-bottom-left-radius: 200px; }
  .header__slider {
    background: url("../images/slider/slide1.png") no-repeat center;
    background-size: cover;
    height: 70vh;
    width: 42vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top-left-radius: 200px; }
    .header__slider-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center; }
    .header__slider-controls {
      -ms-flex-item-align: center;
          align-self: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 70px; }
      .header__slider-controls_left, .header__slider-controls_right {
        background: url("../images/slider/ellipse.png");
        width: 32px;
        height: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
    .header__slider-intro {
      margin-left: 10px; }
      .header__slider-intro__title {
        font-family: poppins, sans-serif;
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase; }
      .header__slider-intro__text {
        font-family: open-sans, sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal; }
  .header__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .header__intro-description {
      width: 362px;
      padding-top: 95px; }
      .header__intro-description__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -2px; }
      .header__intro-description__rubric {
        font-family: open-sans, sans-serif;
        font-size: 18px;
        line-height: 27px; }
      .header__intro-description__button {
        border: 2px solid #ff9c8e;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 13px 69px;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .header__intro-description__button:hover {
          -webkit-transform: translateY(-3px);
                  transform: translateY(-3px);
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          background: #ff6f5b;
          -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out; }
        .header__intro-description__button__link {
          text-decoration: none;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          -webkit-transition: color 0.2s;
          transition: color 0.2s;
          cursor: pointer;
          color: #fff; }
  .header-inner {
    margin: 0 auto;
    width: 1200px; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0; }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__nav-hire__link {
      position: relative;
      letter-spacing: 3px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer; }
      .header__nav-hire__link::after {
        display: block;
        position: absolute;
        content: "";
        top: 25px;
        left: 50%;
        width: 100%;
        height: 2px;
        background: #ff9c8e;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .header__nav-menu__item {
      display: inline;
      margin-right: 5vw;
      text-transform: uppercase;
      list-style-type: none;
      font-size: 13px;
      line-height: 19px;
      font-weight: bold;
      letter-spacing: 3px; }
    .header__nav .header__nav-menu__link {
      color: #fff;
      line-height: 1;
      text-decoration: none;
      position: relative; }
      .header__nav .header__nav-menu__link::after {
        background-color: #ff9c8e;
        display: block;
        content: "";
        height: 2px;
        width: 0%;
        top: 25px;
        left: 50%;
        position: absolute;
        -webkit-transition: width 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
      .header__nav .header__nav-menu__link:hover::after, .header__nav .header__nav-menu__link:focus::after {
        width: 100%; }
  .header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px; }
    .header__burger span {
      position: absolute;
      background: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__burger::before, .header__burger::after {
      content: "";
      background: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .header__burger::before {
      top: 0; }
    .header__burger::after {
      bottom: 0; }
    .header__burger.active::before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 9px; }
    .header__burger.active::after {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 9px; }
    .header__burger.active span {
      -webkit-transform: scale(0);
              transform: scale(0); }

@media (max-width: 1220px) {
  .header-inner {
    width: 100%; }
  .header__intro-description {
    margin: 0 auto; } }

@media (max-width: 800px) {
  .header__intro-description {
    width: 50vw;
    display: block;
    padding: 0 0 20px; }
    .header__intro-description.hide {
      display: none; }
  .header__nav-menu__list {
    display: none; }
    .header__nav-menu__list.active {
      display: block; }
  .header__nav {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial; }
  .header__menu {
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial; }
  .header__slider {
    display: none; }
  .header__nav-hire {
    display: none; }
  .header__burger {
    display: block; }
  .header__nav-menu.active {
    display: block; }
  .header__nav-menu__item {
    display: block;
    line-height: 40px;
    font-size: 24px;
    margin-bottom: 36px; } }

.process {
  background: #f2f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .process-inner {
    width: 1200px;
    margin: 0 auto; }
    .process-inner .process-description {
      width: 330px;
      padding: 250px 0; }
      .process-inner .process-description__name {
        font-weight: bold;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #c0cdd7; }
      .process-inner .process-description__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        color: #253757; }
      .process-inner .process-description__text {
        font-family: open-sans, sans-serif;
        font-size: 14px;
        line-height: 21px;
        color: #6c788b; }
  .process .process-services {
    background: #fff;
    border-radius: 24px;
    height: 264px;
    width: 264px;
    position: absolute;
    padding: 32px; }
    .process .process-services__count {
      border-radius: 23px;
      padding: 2px 12px;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px; }
    .process .process-services__sources {
      display: grid;
      grid-template-columns: 1fr 3fr;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .process .process-services__img {
      position: relative;
      background: #008aff;
      width: 40px;
      height: 40px;
      border-radius: 50px; }
    .process .process-services__img img {
      position: absolute;
      top: calc(50% - 7px);
      left: calc(50% - 7px); }
    .process .process-services.first {
      top: 280px;
      right: 490px; }
      .process .process-services.first .process-services__count {
        color: #56ccf2;
        background: #edfaff; }
    .process .process-services.second {
      top: 170px;
      right: 200px; }
      .process .process-services.second .process-services__count {
        color: #f0c940;
        background: #fffaea; }
    .process .process-services.third {
      top: 570px;
      right: 490px; }
      .process .process-services.third .process-services__count {
        color: #3bc063;
        background: #e5feeb; }
    .process .process-services.fourth {
      top: 460px;
      right: 200px; }
      .process .process-services.fourth .process-services__count {
        color: #f36d6c;
        background: #fef0f0; }
    .process .process-services__list {
      padding-left: 0; }
    .process .process-services__item {
      text-decoration: none;
      list-style-type: none;
      font-family: open-sans, sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 19px;
      color: #6c788b; }

html {
  scroll-behavior: smooth; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: poppins, sans-serif;
  font-size: 13px;
  line-height: 21px;
  background: #fff;
  margin: 0; }

.button {
  background-color: #ff9c8e;
  border-radius: 64px;
  border: none; }

.link,
.button {
  cursor: pointer; }

.welcome {
  background: #f2f9ff; }
  .welcome-content {
    width: 42vw;
    margin: 0 auto;
    padding: 50px 0; }
    .welcome-content__title {
      font-weight: 600;
      font-size: 32px;
      line-height: 48px;
      color: #253757; }
    .welcome-content__description {
      font-family: open-sans, sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #6c788b; }

.expertise__heading {
  font-weight: 600;
  font-size: 52px;
  line-height: 78px;
  color: #253757;
  padding-top: 80px;
  text-align: center; }

.expertise__info {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 64px; }
  .expertise__info .work {
    text-align: center; }
    .expertise__info .work__photo {
      border-radius: 20%; }
    .expertise__info .work__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: #253757; }
    .expertise__info .work__text {
      font-family: open-sans, sans-serif;
      font-size: 14px;
      line-height: 21px;
      color: #6c788b; }

@media (max-width: 800px) {
  .welcome__content {
    width: 100%; }
  .about-us__info {
    grid-template-columns: repeat(2, 240px); }
  .expertise__info {
    grid-template-columns: 240px; } }

/*# sourceMappingURL=main.css.map */
